<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ecsite.mapper.ProductMapper">
    <select id="findAll"
        resultType="com.example.ecsite.model.Product">
        SELECT id, name, description, price, imageurl,is_in_cart
        FROM products
    </select>
    <update id="updateCart">
        UPDATE products
        SET is_in_cart = #{isInCart}
        WHERE id =
        #{id};
    </update>
    <insert id="addToCart">
        INSERT INTO cart (user_id, product_id,created_by,
        updated_by) VALUES (#{userId}, #{productId},#{userId},#{userId})
    </insert>

    <delete id="removeFromCart">
        DELETE FROM cart WHERE user_id = #{userId} AND
        product_id = #{productId}
    </delete>

    <update id="updateQuantity">
        UPDATE cart
        SET quantity = #{quantity},
        updated_by = #{userId}
        WHERE user_id =
        #{userId} AND product_id = #{productId};
    </update>

</mapper>